.top-menu-container {
    position: fixed;
    z-index: 15;
    background-color: var(--top-menu-background);
    /* background-image: linear-gradient(to bottom, #444488, #884488); */
    color: var(--top-menu-text);
    width: 100%;
    height: var(--top-menu-height);
    border-bottom: 1px solid var(--top-menu-border);

    .icon {
        display: none;
    }

    .top-menu-content {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .left-side,
        .right-side {
            margin: 0px 20px;
        }
    
        .left-side {
            display: flex;
            align-items: center;
    
            .app-title {
                font-size: 24px;
            }
    
            
        }
    
        .right-side .current-city {
            display: flex;
            justify-content: center;
            align-items: center;
    
            .city-name {
                font-size: 20px;
                font-weight: 500;
                margin: 0px 10px;
            }
    
            .city-weather {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }
        }
    }
    
}

@media only screen and (max-width: 700px) {
    .top-menu-container {
        display: flex;
        justify-content: left;
        align-items: center;
        height: var(--top-menu-height-phone);
        .icon {
            font-size: 32px;
            cursor: pointer;
            display: flex;
            padding: 5px 10px; 
        }
        .top-menu-content{
            display: flex;
            justify-content: left;
            align-items: start;
            flex-direction: column;
    
            .left-side, .right-side {
                margin: 0px 10px;
            }
            .left-side {
                height: 30px;
                .app-title {
                    font-size: 20px;
                }                
            }
    
            .right-side {
                height: 30px;
                .current-city {
                    display: flex;
                    align-items: left;
                    justify-content: left;
    
                    .city-text {
                        display: none;
                    }

                    .city-name {
                        font-size: 18px;
                        font-weight: 500;
                        margin: 0px 7px 0px 0px;
                    }
    
                    .city-weather {
                        display: flex;
                        flex-direction: row;
                        justify-content: center;
                        align-items: center;
    
                        .weather-icon {
                            width: 25px;
                            margin-right: 5px;
                        }
    
                    }
    
                }
            }
        }
        
    }
}