<app-top-menu></app-top-menu>
<div class="main-container">
    <app-side-menu></app-side-menu>
    <div class="right-side-container">
        <div class="forecast-options row">
            Get forecast for:
            <ng-select [(ngModel)]="selectedDuration" [clearable]="false" (change)="getForecastData()">
                <ng-option *ngFor="let forecastDuration of forecastDurations"
                    [value]="forecastDuration.length">{{forecastDuration.label}}</ng-option>
            </ng-select>
            <!-- <div>
                <i class="fa fa-gear"></i>
                Units
            </div> -->
        </div>

        <div class="forecast" [@listAnimation]="forecastData.length" >
            <app-forecast-element *ngFor="let entry of forecastData"  [forecastDataEntry]="entry"></app-forecast-element>
        </div>

    </div>
</div>

<!-- <button (click)="show = !show">toggle</button>
<button (click)="toggleList()">toggle list</button>
<button (click)="toggleImages()">toggle images</button>

<h1 @fadeAnimation *ngIf="show">Angular Animations</h1>

<ul [@listAnimation]="items.length" class="items">
  <li *ngFor="let item of items" class="item">
    Item {{item}}
  </li>
</ul>

<section [@listAnimation]="images.length" class="images">
  <img *ngFor="let img of images" [src]="img" class="image" alt="Cat" />
</section> -->