
.main-container {
    display: flex;
    height: calc(100vh - var(--top-menu-height));
    width: 100%;
    background-color: var(--page-background);
}
.right-side-container {
    /* display: flex; */
    width: calc(100vw - 200px);
    height: 100%;
    padding: 20px;
}

.forecast-options {
    display: flex;
    align-items: center;
    > * {
        margin: 10px;
    }
}

.forecast {
    display: flex;
    flex-direction: column;
    overflow: auto;
}


@media only screen and (max-width: 700px) {
    .right-side-container {
        width: 100vh;
    }
}