
.main-container {
    padding-top: var(--top-menu-height);
    display: flex;
    height: calc(100vh - var(--top-menu-height));
    width: 100%;
    background-color: var(--page-background);
}

.right-side-container {
    width: calc(100vw - 200px);
    height: calc(100% - 40px); /*40 px is padding*/
    padding: 20px;
    overflow-y: auto;
    overflow-x: hidden;
}

.forecast-options {
    display: flex;
    align-items: center;
    text-align: left;
    flex-direction: row;
    > * {
        margin: 10px;
    }
}

.forecast {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;
}


@media only screen and (max-width: 700px) {
    .main-container {
        padding-top: var(--top-menu-height-phone);
    }
    .right-side-container {
        width: 100vh;
        padding: 20px 5px 20px 5px
    }
    .forecast-options {
        flex-direction: column;
    }
}
