@import "../node_modules/@ng-select/ng-select/themes/default.theme.css";
@import "../node_modules/font-awesome/css/font-awesome.css";
@import "../node_modules/@fortawesome/fontawesome-svg-core/styles.css";

@font-face {
    font-family: 'Roboto';
    src: url('assets/fonts/Roboto/Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


:root {
    /* top menu */
    --top-menu-background: #3a4b88;
    --top-menu-text: white;
    --top-menu-border: transparent;

    /* side menu */
    --side-menu-header-background: #212f4e;
    --side-menu-header-text: white;
    --side-menu-background: #6074be;
    --side-menu-text: #fff;
    --side-menu-border: transparent;
    --side-menu-hover-background: #8b9bd6;
    --side-menu-hover-text: #fff;
    --side-menu-selected-background: #3e53a0;
    --side-menu-selected-text: #fff;
    --side-menu-selected-left-border: #112363;

    /* general */
    --page-background: white;

    /* menu sizes */
    --expanded-side-menu-width: 200px;
    --top-menu-height: 80px;
    --top-menu-height-phone: 60px;

    /* forecast element variables */
    --expand-btn-height-phone: 30px;
    --element-height-wide: 80px;
    --element-height-phone: 150px;
    --font-icon-color: #333333F0;
}

body {
    margin: 0px;
    font-family: Roboto;
}

.ng-select {
    border: 0px;
    min-height: 0px;
    border-radius: 0;
    width: 200px;
}

.ng-select .ng-select-container {
    min-height: 0px;
    border-radius: 0;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}